<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easub.biextra.dao.BIExtraDao">
	
	<select id="getUserAccount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(a.id) from users a
		left join user_policies b on a.id = b.uid
		where 1=1
		<if test="userPoliciesState != null and userPoliciesState != ''">
			and b.state = #{userPoliciesState,jdbcType=INTEGER}
		</if>
		<if test="userTypes != null and userTypes != ''">
			and b.user_type in (${userTypes})
		</if>
		<if test="startTime != null and startTime != ''">
			and unix_timestamp(a.created_at) &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != ''">
			and unix_timestamp(a.created_at) &lt; #{endTime,jdbcType=BIGINT}
		</if>
	</select>

	<!-- 按视频类型统计时间段内的视频数 -->
	<select id="getVideosSourceTypeStatCount" parameterType="java.util.Map" resultType="java.util.Map" >
	<!-- 全部 -->
		select a.source_type sourceType,1 type,count(a.id) c 
		from videos a
		where 1 = 1
		and a.is_deleted = 0 
		and a.media_state = 2
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.created_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.created_timestamp &lt; #{endTime,jdbcType=BIGINT}
		</if>
		and a.user_id not in(select tt.uid from user_policies tt where tt.user_type in('admin','dev','test'))
		and a.user_id not in(select user_id from user_external_maps)
		group by a.source_type
		
		<!-- 混剪中视频等于一的为剪辑，大于1的为混剪-->
		
		union all  
		select  2 sourceType,1 type, count(id) c
		from videos a
		where 1=1
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.created_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.created_timestamp &lt;= #{endTime,jdbcType=BIGINT}
		</if>
		and a.is_deleted = 0 
		and a.media_state = 2
		and a.user_id not in(select tt.uid from user_policies tt where tt.user_type in('admin','dev','test'))
		and a.user_id not in(select user_id from user_external_maps)
		and a.source_type = 6 and a.id in(select video_id from temp_project_numbers where num = 1)
		
		union all  
		select  6 sourceType,1 type,-count(id) c
		from videos a
		where 1=1 
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.created_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.created_timestamp &lt;= #{endTime,jdbcType=BIGINT}
		</if>
		and a.is_deleted = 0 
		and a.media_state = 2
		and a.user_id not in(select tt.uid from user_policies tt where tt.user_type in('admin','dev','test'))
		and a.user_id not in(select user_id from user_external_maps)
		and a.source_type = 6 and a.id in(select video_id from temp_project_numbers where num = 1)
		
		<!-- 除了iss\ims -->
		union all 
		select a.source_type sourceType,2 type,count(a.id) c 
		from videos a
		left join user_policies b on a.user_id = b.uid 
		where 1 = 1
		and a.is_deleted = 0 
		and a.media_state = 2 
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.created_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.created_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
		<!-- and exists(select user_id from user_external_maps tt where tt.user_id != a.user_id) -->
		and a.user_id not in(select tt.user_id from user_external_maps tt)
		and b.user_type not in('iss','ims','admin','dev','test')
		group by a.source_type
		<!-- 新浪 -->
		union all 
		select a.source_type sourceType,3 type,count(a.id) c 
		from videos a
		where 1 = 1
		and a.is_deleted = 0 
		and a.media_state = 2 
		and a.user_id in (select tt.user_id from user_external_maps tt)
		<!-- and a.user_id in(select user_id from user_external_maps)  -->
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.created_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.created_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
		group by a.source_type
		<!-- 政务媒体 -->
		union all 
		select a.source_type sourceType,4 type,count(a.id) c 
		from videos a 
		left join user_policies b on a.user_id = b.uid 
		where 1 = 1 
		and a.is_deleted = 0 
		and a.media_state = 2 
		and b.user_type in('weibo_zhengwu','weibo_newsmedia') 
		<!-- and a.user_id in(select uid from user_policies where user_type in('weibo_zhengwu','weibo_newsmedia')) -->
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.created_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.created_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
		group by a.source_type
	</select>
	
	<!-- 按视频类型统计分享视频数 -->
	<select id="getVideosSourceTypeShareStatCount" parameterType="java.util.Map" resultType="java.util.Map" >
		<!-- 全部 -->
		select b.source_type sourceType,1 type, count(a.id) c from user_video_share_logs a
		left join videos b on a.vid = b.id 
		where 1 = 1
 		and a.state = 2 
 		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.shared_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.shared_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
		and a.user_id not in(select tt.uid from user_policies tt where tt.user_type in('admin','dev','test'))
 		group by b.source_type
 		
 		<!-- 混剪中视频等于一的为剪辑，大于1的为混剪-->
		union all  
		select 2 sourceType,1 type,count(a.id) c 
		from user_video_share_logs a 
		left join videos b on a.vid=b.id
		where 1=1
		and state = 2 
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.shared_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.shared_timestamp &lt;= #{endTime,jdbcType=BIGINT} 
		</if>
		and a.user_id not in(select tt.uid from user_policies tt where tt.user_type in('admin','dev','test'))
		and b.source_type = 6 
		and a.vid in(select video_id from temp_project_numbers where num = 1)
		
		union all  
		select 6 sourceType,1 type,-count(a.id) c 
		from user_video_share_logs a 
		left join videos b on a.vid=b.id
		where 1=1
		and state = 2 
		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.shared_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.shared_timestamp &lt;= #{endTime,jdbcType=BIGINT} 
		</if>
		and a.user_id not in(select tt.uid from user_policies tt where tt.user_type in('admin','dev','test'))
		and b.source_type = 6 
		and a.vid in(select video_id from temp_project_numbers where num = 1) 
 		
		<!-- 除了iss\ims -->
		union all 
		select b.source_type sourceType,2 type, count(a.id) c from user_video_share_logs a
		left join videos b on a.vid = b.id 
		left join user_policies c on a.user_id = c.uid 
		where 1=1 
 		and a.state = 2 
 		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.shared_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.shared_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
		and c.user_type not in ('iss','ims','admin','dev','test') 
 		group by b.source_type
 		<!-- 新浪 -->
 		union all 
		select b.source_type sourceType,3 type, count(a.id) c from user_video_share_logs a
		left join videos b on a.vid = b.id 
		where 1=1 
 		and a.state = 2 
 		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.shared_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.shared_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
 		and exists(select tt.id from user_external_maps tt where tt.user_id=a.user_id) 
 		group by b.source_type
 		<!-- 政务媒体 -->
 		union all 
		select b.source_type sourceType,4 type, count(a.id) c from user_video_share_logs a
		left join videos b on a.vid = b.id 
		left join user_policies c on a.user_id = c.uid 
		where 1=1 
 		and a.state = 2 
 		<if test="startTime != null and startTime != '' and startTime != 0 ">
			and a.shared_timestamp &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' and endTime != 0">
			and a.shared_timestamp &lt; #{endTime,jdbcType=BIGINT} 
		</if>
 		and c.user_type in('weibo_zhengwu','weibo_newsmedia') 
 		group by b.source_type
	</select>
	
	<select id="getVideosStatCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(a.id) from videos a 
		<if test="isNeedUserPolicies">
			left join user_policies b on a.user_id = b.uid
		</if>
		where 1=1
		and a.is_deleted = 0
		<if test="sourceType != null and sourceType != '' ">
			and a.source_type = #{sourceTyp,jdbcType=INTEGER}
		</if>
		<if test="sourceTypes != null and sourceTypes != '' ">
			and a.source_type in(${sourceTypes})
		</if>
		
		<if test="startCreatedTime != null and startCreatedTime != '' and startCreatedTime != 0 ">
			and a.created_timestamp &gt;= #{startCreatedTime,jdbcType=BIGINT}
		</if>
		<if test="endCreatedTime != null and endCreatedTime != '' and endCreatedTime != 0">
			and a.created_timestamp &lt; #{endCreatedTime,jdbcType=BIGINT} 
		</if>
		
		<if test="isNeedUserPolicies">
			<if test="userType != null and userType != '' ">
				and b.user_type = #{userType,jdbcType=VARCHAR}
			</if>
			<if test="userTypes != null and userTypes != '' ">
				and b.user_type in(${userTypes})
			</if>
			<if test="notUserTypes != null and notUserTypes != '' ">
				and b.user_type not in(${notUserTypes})
			</if>
		</if>
	</select>
	
	<select id="getVideosShareStatCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(a.id) from user_video_share_logs a
		left join videos b on a.vid = b.id
		<if test="isNeedUserPolicies">
			left join user_policies c on a.user_id = c.uid
		</if> 
		where 1=1
		and a.state = #{state,jdbcType=INTEGER}
		
		<if test="startShareTime != null and startShareTime != '' and startShareTime != 0 ">
			and a.shared_timestamp &gt;= #{startShareTime,jdbcType=BIGINT}
		</if>
		<if test="endShareTime != null and endShareTime != '' and endShareTime != 0">
			and a.shared_timestamp &lt; #{endShareTime,jdbcType=BIGINT} 
		</if>
		<if test="sourceType != null and sourceType != '' ">
			and b.source_type = #{sourceTyp,jdbcType=INTEGER}
		</if>
		<if test="sourceTypes != null and sourceTypes != '' ">
			and b.source_type in(${sourceTypes})
		</if>
		<if test="isNeedUserPolicies">
			<if test="userType != null and userType != '' ">
				and c.user_type = #{userType,jdbcType=VARCHAR}
			</if>
			<if test="userTypes != null and userTypes != '' ">
				and c.user_type in(${userTypes})
			</if>
			<if test="notUserTypes != null and notUserTypes != '' ">
				and c.user_type not in(${notUserTypes})
			</if>
		</if>
	</select>
	
	<!-- 视频播放量VV -->
	<select id="getVideoVV" parameterType="java.util.Map" resultType="java.lang.Long" >
		select sum(a.vv) sumvv from weibo_statistics a 
		where 1=1 
		<if test="startTime != null and startTime != ''">
			and unix_timestamp(a.updated_at) &gt;= #{startTime,jdbcType=BIGINT}
		</if>
		<if test="endTime != null and endTime != '' ">
			and unix_timestamp(a.updated_at) &lt; #{endTime,jdbcType=BIGINT} 
		</if>
	</select>
	
</mapper>