<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    
<context:annotation-config />
<context:component-scan base-package="com.jy.demo.dao.quartzJob" />

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
     <bean id="startQuertz" lazy-init="true" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
          <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
          
          <!-- 启用 quartz 实例化到数据库start  默认关闭   -->
          <!-- 
            <property name="dataSource" ref ="dataSource" />       
            <property name="configLocation" value="classpath:quartz.properties"/>  
           -->
          <!-- 启用 quartz 实例化到数据库end -->
          
          <!-- Spring 配置文件定义实例化定时器 -->
          <property name="triggers">
          	<list>
          		<!-- <ref bean="testTrigger"/> -->
          		<!-- <ref bean="testTrigger1"/> -->
          	</list>
          </property>
          <!-- Spring 配置定时器结束 -->
     </bean>
    <bean id="springquartzHello2" class="com.jy.platform.hello.Hello2" init-method="start" lazy-init="false">
    	<property name="name" value="spring-quartz.xml"></property>
    </bean>
</beans>

