.resizable {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
}
.resizable h3 {
	text-align: left;
    background: #e8f6f6;
    height: 30px;
}

.ui-widget-header {
  border: none;
  border-bottom: 1px solid #aed0ea;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  
}

.ui-button {
  margin: 0px 5px;
}

.resizable .titleSpan {
	float: left;
	margin: 7px;
}
.resizable .buttonSpan {
	float: right;
	height: 26px;
	line-height: 26px;
}
.resizable .tableSpan {
	margin: 0px;
}
.field {
	float: left;
	margin: 2px 15px;
	min-width:230px;
	height:30px;
}
.field .fieldName {
	display: block;
	float: left;
	padding: 4px 2px;
	width: 80px;
	text-align: right;
}
.field .fieldSelect{
	width: 180px;
	margin-left: 0px !important;
	padding:3px;
}

.field input[type='text']{
	padding: 3px;
  	width: 170px;
}

.field .ui-multiselect{
	padding: 3px;
	background-color: white;
    border:1px solid rgb(169, 169, 169);
}
.searchBtn {
	text-align: left;
  	clear: both;
    padding: 10px 0px 10px 95px;
}
.searchFrom{
	display: inline-block;
	padding-top: 10px;
	width:100%;
}