<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.modules.platform.sysorg.dao.SysUserSynDao">
<resultMap id="SysUserSynDTO" type="com.fintech.modules.platform.sysorg.dto.SysUserSynDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
				<result property="userNo" column="USER_NO" jdbcType="VARCHAR" />
				<result property="loginName" column="LOGIN_NAME" jdbcType="VARCHAR" />
				<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
				<result property="salt" column="SALT" jdbcType="VARCHAR" />
				<result property="mobile" column="MOBILE" jdbcType="VARCHAR" />
				<result property="email" column="EMAIL" jdbcType="VARCHAR" />
				<result property="userImage" column="USER_IMAGE" jdbcType="VARCHAR" />
				<result property="sex" column="SEX" jdbcType="VARCHAR" />
				<result property="birthday" column="BIRTHDAY" jdbcType="VARCHAR" />
				<result property="nationality" column="NATIONALITY" jdbcType="VARCHAR" />
				<result property="education" column="EDUCATION" jdbcType="VARCHAR" />
				<result property="job" column="JOB" jdbcType="VARCHAR" />
				<result property="homeAddress" column="HOME_ADDRESS" jdbcType="VARCHAR" />
				<result property="homeZipcode" column="HOME_ZIPCODE" jdbcType="VARCHAR" />
				<result property="homeTel" column="HOME_TEL" jdbcType="VARCHAR" />
				<result property="officeTel" column="OFFICE_TEL" jdbcType="VARCHAR" />
				<result property="officeAddress" column="OFFICE_ADDRESS" jdbcType="VARCHAR" />
				<result property="orderBy" column="ORDER_BY" jdbcType="VARCHAR" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="isLocked" column="IS_LOCKED" jdbcType="VARCHAR" />
				<result property="version" column="VERSION" jdbcType="DECIMAL" />
				<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
				<result property="userId" column="USER_ID" jdbcType="DECIMAL" />
				<result property="cardNo" column="CARD_NO" jdbcType="VARCHAR" />
				<result property="probationPeriod" column="PROBATION_PERIOD" jdbcType="DECIMAL" />
				<result property="entryDate" column="ENTRY_DATE" jdbcType="TIMESTAMP" />
				<result property="quitDate" column="QUIT_DATE" jdbcType="TIMESTAMP" />
				<result property="workDate" column="WORK_DATE" jdbcType="TIMESTAMP" />
				<result property="politicalStatus" column="POLITICAL_STATUS" jdbcType="VARCHAR" />
				<result property="userRelation" column="USER_RELATION" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 SYS_USER_SYN -->	
<select id="searchSysUserSynByPaging" parameterType="java.util.Map" resultMap="SysUserSynDTO">
    	 		select 
						t1.id                             ,
						t1.user_name                      ,
						t1.user_no                        ,
						t1.login_name                     ,
						t1.password                       ,
						t1.salt                           ,
						t1.mobile                         ,
						t1.email                          ,
						t1.user_image                     ,
						t1.sex                            ,
						t1.birthday                       ,
						t1.nationality                    ,
						t1.education                      ,
						t1.job                            ,
						t1.home_address                   ,
						t1.home_zipcode                   ,
						t1.home_tel                       ,
						t1.office_tel                     ,
						t1.office_address                 ,
						t1.order_by                       ,
						t1.validate_state                 ,
						t1.is_locked                      ,
						t1.version                        ,
						t1.create_date                    ,
						t1.card_no                        ,
						t1.probation_period               ,
						t1.entry_date                        ,
						t1.quit_date                         ,
						t1.work_date                       ,
						t1.political_status                 ,
						t1.user_relation                   ,
						t1.user_id                        
					
				from sys_user_syn 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.userName != null and dto.userName != ''">
						and t1.USER_NAME =#{dto.userName}
    			</if>
    			<if test="dto.userNo != null and dto.userNo != ''">
						and t1.USER_NO =#{dto.userNo}
    			</if>
    			<if test="dto.loginName != null and dto.loginName != ''">
						and t1.LOGIN_NAME =#{dto.loginName}
    			</if>
    			<if test="dto.password != null and dto.password != ''">
						and t1.PASSWORD =#{dto.password}
    			</if>
    			<if test="dto.salt != null and dto.salt != ''">
						and t1.SALT =#{dto.salt}
    			</if>
    			<if test="dto.mobile != null and dto.mobile != ''">
						and t1.MOBILE =#{dto.mobile}
    			</if>
    			<if test="dto.email != null and dto.email != ''">
						and t1.EMAIL =#{dto.email}
    			</if>
    			<if test="dto.userImage != null and dto.userImage != ''">
						and t1.USER_IMAGE =#{dto.userImage}
    			</if>
    			<if test="dto.sex != null and dto.sex != ''">
						and t1.SEX =#{dto.sex}
    			</if>
    			<if test="dto.birthday != null and dto.birthday != ''">
						and t1.BIRTHDAY =#{dto.birthday}
    			</if>
    			<if test="dto.nationality != null and dto.nationality != ''">
						and t1.NATIONALITY =#{dto.nationality}
    			</if>
    			<if test="dto.education != null and dto.education != ''">
						and t1.EDUCATION =#{dto.education}
    			</if>
    			<if test="dto.job != null and dto.job != ''">
						and t1.JOB =#{dto.job}
    			</if>
    			<if test="dto.homeAddress != null and dto.homeAddress != ''">
						and t1.HOME_ADDRESS =#{dto.homeAddress}
    			</if>
    			<if test="dto.homeZipcode != null and dto.homeZipcode != ''">
						and t1.HOME_ZIPCODE =#{dto.homeZipcode}
    			</if>
    			<if test="dto.homeTel != null and dto.homeTel != ''">
						and t1.HOME_TEL =#{dto.homeTel}
    			</if>
    			<if test="dto.officeTel != null and dto.officeTel != ''">
						and t1.OFFICE_TEL =#{dto.officeTel}
    			</if>
    			<if test="dto.officeAddress != null and dto.officeAddress != ''">
						and t1.OFFICE_ADDRESS =#{dto.officeAddress}
    			</if>
    			<if test="dto.orderBy != null and dto.orderBy != ''">
						and t1.ORDER_BY =#{dto.orderBy}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.isLocked != null and dto.isLocked != ''">
						and t1.IS_LOCKED =#{dto.isLocked}
    			</if>
    			<if test="dto.version != null and dto.version != ''">
						and t1.VERSION =#{dto.version}
    			</if>
    			<if test="dto.createDate != null and dto.createDate != ''">
						and t1.CREATE_DATE =#{dto.createDate}
    			</if>
    			<if test="dto.userId != null and dto.userId != ''">
						and t1.USER_ID =#{dto.userId}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 SYS_USER_SYN  -->
<select id="searchSysUserSyn" parameterType="java.util.Map" resultMap="SysUserSynDTO">
    	     select 
						t1.id                             ,
						t1.user_name                      ,
						t1.user_no                        ,
						t1.login_name                     ,
						t1.password                       ,
						t1.salt                           ,
						t1.mobile                         ,
						t1.email                          ,
						t1.user_image                     ,
						t1.sex                            ,
						t1.birthday                       ,
						t1.nationality                    ,
						t1.education                      ,
						t1.job                            ,
						t1.home_address                   ,
						t1.home_zipcode                   ,
						t1.home_tel                       ,
						t1.office_tel                     ,
						t1.office_address                 ,
						t1.order_by                       ,
						t1.validate_state                 ,
						t1.is_locked                      ,
						t1.version                        ,
						t1.create_date                    ,
						t1.card_no                        ,
						t1.probation_period               ,
						t1.entry_date                        ,
						t1.quit_date                         ,
						t1.work_date                       ,
						t1.political_status                 ,
						t1.user_relation                   ,
						t1.user_id                        
				from sys_user_syn 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.userName != null and dto.userName != ''">
						and t1.USER_NAME = #{dto.userName}
    			</if>
    			<if test="dto.userNo != null and dto.userNo != ''">
						and t1.USER_NO = #{dto.userNo}
    			</if>
    			<if test="dto.loginName != null and dto.loginName != ''">
						and t1.LOGIN_NAME = #{dto.loginName}
    			</if>
    			<if test="dto.password != null and dto.password != ''">
						and t1.PASSWORD = #{dto.password}
    			</if>
    			<if test="dto.salt != null and dto.salt != ''">
						and t1.SALT = #{dto.salt}
    			</if>
    			<if test="dto.mobile != null and dto.mobile != ''">
						and t1.MOBILE = #{dto.mobile}
    			</if>
    			<if test="dto.email != null and dto.email != ''">
						and t1.EMAIL = #{dto.email}
    			</if>
    			<if test="dto.userImage != null and dto.userImage != ''">
						and t1.USER_IMAGE = #{dto.userImage}
    			</if>
    			<if test="dto.sex != null and dto.sex != ''">
						and t1.SEX = #{dto.sex}
    			</if>
    			<if test="dto.birthday != null and dto.birthday != ''">
						and t1.BIRTHDAY = #{dto.birthday}
    			</if>
    			<if test="dto.nationality != null and dto.nationality != ''">
						and t1.NATIONALITY = #{dto.nationality}
    			</if>
    			<if test="dto.education != null and dto.education != ''">
						and t1.EDUCATION = #{dto.education}
    			</if>
    			<if test="dto.job != null and dto.job != ''">
						and t1.JOB = #{dto.job}
    			</if>
    			<if test="dto.homeAddress != null and dto.homeAddress != ''">
						and t1.HOME_ADDRESS = #{dto.homeAddress}
    			</if>
    			<if test="dto.homeZipcode != null and dto.homeZipcode != ''">
						and t1.HOME_ZIPCODE = #{dto.homeZipcode}
    			</if>
    			<if test="dto.homeTel != null and dto.homeTel != ''">
						and t1.HOME_TEL = #{dto.homeTel}
    			</if>
    			<if test="dto.officeTel != null and dto.officeTel != ''">
						and t1.OFFICE_TEL = #{dto.officeTel}
    			</if>
    			<if test="dto.officeAddress != null and dto.officeAddress != ''">
						and t1.OFFICE_ADDRESS = #{dto.officeAddress}
    			</if>
    			<if test="dto.orderBy != null and dto.orderBy != ''">
						and t1.ORDER_BY = #{dto.orderBy}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.isLocked != null and dto.isLocked != ''">
						and t1.IS_LOCKED = #{dto.isLocked}
    			</if>
    			<if test="dto.version != null and dto.version != ''">
						and t1.VERSION = #{dto.version}
    			</if>
    			<if test="dto.createDate != null and dto.createDate != ''">
						and t1.CREATE_DATE = #{dto.createDate}
    			</if>
    			<if test="dto.userId != null and dto.userId != ''">
						and t1.USER_ID = #{dto.userId}
    			</if>
    			<if test="lastModifyTime != null and lastModifyTime != ''">
						and t1.CREATE_DATE &lt; str_to_date('${lastModifyTime}','%Y-%m-%d %H:%i:%s.%f')		
						order by t1.CREATE_DATE desc
    			</if>
</select>
<!-- 查找最大时间记录  -->
<select id="searchSysUserSynByMaxCreateDate" parameterType="java.util.Map" resultMap="SysUserSynDTO">
    	     select 
						t1.id                             ,
						t1.user_name                      ,
						t1.user_no                        ,
						t1.login_name                     ,
						t1.password                       ,
						t1.salt                           ,
						t1.mobile                         ,
						t1.email                          ,
						t1.user_image                     ,
						t1.sex                            ,
						t1.birthday                       ,
						t1.nationality                    ,
						t1.education                      ,
						t1.job                            ,
						t1.home_address                   ,
						t1.home_zipcode                   ,
						t1.home_tel                       ,
						t1.office_tel                     ,
						t1.office_address                 ,
						t1.order_by                       ,
						t1.validate_state                 ,
						t1.is_locked                      ,
						t1.version                        ,
						t1.create_date                    ,
						t1.card_no                        ,
						t1.probation_period               ,
						t1.entry_date                        ,
						t1.quit_date                         ,
						t1.work_date                       ,
						t1.political_status                 ,
						t1.user_relation                   ,
						t1.user_id                        
				from sys_user_syn 		t1
				where 1=1
				and t1.create_date  =  ( SELECT  MAX( t2.create_date  )  FROM  sys_user_syn  t2 )
				limit 1
    			
</select>
  
<!-- 主键查询对象  SYS_USER_SYN -->
<select id="findSysUserSynByPrimaryKey" parameterType="java.util.Map" resultMap="SysUserSynDTO">
   	 		select 
					t1.id                             ,
					t1.user_name                      ,
					t1.user_no                        ,
					t1.login_name                     ,
					t1.password                       ,
					t1.salt                           ,
					t1.mobile                         ,
					t1.email                          ,
					t1.user_image                     ,
					t1.sex                            ,
					t1.birthday                       ,
					t1.nationality                    ,
					t1.education                      ,
					t1.job                            ,
					t1.home_address                   ,
					t1.home_zipcode                   ,
					t1.home_tel                       ,
					t1.office_tel                     ,
					t1.office_address                 ,
					t1.order_by                       ,
					t1.validate_state                 ,
					t1.is_locked                      ,
					t1.version                        ,
					t1.create_date                    ,
					t1.card_no                        ,
					t1.probation_period               ,
					t1.entry_date                        ,
					t1.quit_date                         ,
					t1.work_date                       ,
					t1.political_status                 ,
					t1.user_relation                   ,
					t1.user_id                        
			from sys_user_syn 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 SYS_USER_SYN -->
<insert id="insertSysUserSyn" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select nextval('seq_SYS_USER_SYN') as id from dual
	</selectKey>
			insert into sys_user_syn
			(   		
					id                             ,
					user_name                      ,
					user_no                        ,
					login_name                     ,
					password                       ,
					salt                           ,
					mobile                         ,
					email                          ,
					user_image                     ,
					sex                            ,
					birthday                       ,
					nationality                    ,
					education                      ,
					job                            ,
					home_address                   ,
					home_zipcode                   ,
					home_tel                       ,
					office_tel                     ,
					office_address                 ,
					order_by                       ,
					validate_state                 ,
					is_locked                      ,
					version                        ,
					create_date                    ,
					card_no                        ,
				    probation_period               ,
				    entry_date                        ,
				    quit_date                         ,
				    work_date                       ,
				    political_status                 ,
				    user_relation                   ,	
					user_id                        ,
					syn_status					
			)
			values(#{dto.id}
					,#{dto.userName,jdbcType=VARCHAR}
					,#{dto.userNo,jdbcType=VARCHAR}
					,#{dto.loginName,jdbcType=VARCHAR}
					,#{dto.password,jdbcType=VARCHAR}
					,#{dto.salt,jdbcType=VARCHAR}
					,#{dto.mobile,jdbcType=VARCHAR}
					,#{dto.email,jdbcType=VARCHAR}
					,#{dto.userImage,jdbcType=VARCHAR}
					,#{dto.sex,jdbcType=VARCHAR}
					,#{dto.birthday,jdbcType=VARCHAR}
					,#{dto.nationality,jdbcType=VARCHAR}
					,#{dto.education,jdbcType=VARCHAR}
					,#{dto.job,jdbcType=VARCHAR}
					,#{dto.homeAddress,jdbcType=VARCHAR}
					,#{dto.homeZipcode,jdbcType=VARCHAR}
					,#{dto.homeTel,jdbcType=VARCHAR}
					,#{dto.officeTel,jdbcType=VARCHAR}
					,#{dto.officeAddress,jdbcType=VARCHAR}
					,#{dto.orderBy,jdbcType=VARCHAR}
					,#{dto.validateState,jdbcType=VARCHAR}
					,#{dto.isLocked,jdbcType=VARCHAR}
					,#{dto.version,jdbcType=DECIMAL}
					,#{dto.createDate,jdbcType=TIMESTAMP}
					,#{dto.cardNo,jdbcType=VARCHAR}
				    ,#{dto.probationPeriod,jdbcType=DECIMAL}
				    ,#{dto.entryDate,jdbcType=TIMESTAMP}
				    ,#{dto.quitDate,jdbcType=TIMESTAMP}
				    ,#{dto.workDate,jdbcType=TIMESTAMP}
				    ,#{dto.politicalStatus,jdbcType=DECIMAL}
				    ,#{dto.userRelation,jdbcType=DECIMAL}
					,#{dto.userId,jdbcType=DECIMAL}
					,'1'
			)
</insert>
    
<!-- 更新对象 SYS_USER_SYN -->
<update id="updateSysUserSyn" parameterType="java.util.Map">
	     update sys_user_syn t1
	           set 
			           t1.user_name                      =#{dto.userName,jdbcType=VARCHAR},
			           t1.user_no                        =#{dto.userNo,jdbcType=VARCHAR},
			           t1.login_name                     =#{dto.loginName,jdbcType=VARCHAR},
			           t1.password                       =#{dto.password,jdbcType=VARCHAR},
			           t1.salt                           =#{dto.salt,jdbcType=VARCHAR},
			           t1.mobile                         =#{dto.mobile,jdbcType=VARCHAR},
			           t1.email                          =#{dto.email,jdbcType=VARCHAR},
			           t1.user_image                     =#{dto.userImage,jdbcType=VARCHAR},
			           t1.sex                            =#{dto.sex,jdbcType=VARCHAR},
			           t1.birthday                       =#{dto.birthday,jdbcType=VARCHAR},
			           t1.nationality                    =#{dto.nationality,jdbcType=VARCHAR},
			           t1.education                      =#{dto.education,jdbcType=VARCHAR},
			           t1.job                            =#{dto.job,jdbcType=VARCHAR},
			           t1.home_address                   =#{dto.homeAddress,jdbcType=VARCHAR},
			           t1.home_zipcode                   =#{dto.homeZipcode,jdbcType=VARCHAR},
			           t1.home_tel                       =#{dto.homeTel,jdbcType=VARCHAR},
			           t1.office_tel                     =#{dto.officeTel,jdbcType=VARCHAR},
			           t1.office_address                 =#{dto.officeAddress,jdbcType=VARCHAR},
			           t1.order_by                       =#{dto.orderBy,jdbcType=VARCHAR},
			           t1.validate_state                 ='1',
			           t1.is_locked                      =#{dto.isLocked,jdbcType=VARCHAR},
			           t1.version                        =#{dto.version,jdbcType=DECIMAL},
			           t1.create_date                    =#{dto.createDate,jdbcType=TIMESTAMP},
			           t1.card_no                       =#{dto.cardNo,jdbcType=VARCHAR},
				       t1.probation_period     =#{dto.probationPeriod,jdbcType=DECIMAL},
				       t1.entry_date           =#{dto.entryDate,jdbcType=TIMESTAMP},
				       t1.quit_date            =#{dto.quitDate,jdbcType=TIMESTAMP},
				       t1.work_date           =#{dto.workDate,jdbcType=TIMESTAMP},
				       t1.political_status    =#{dto.politicalStatus,jdbcType=VARCHAR},
				       t1.user_relation       =#{dto.userRelation,jdbcType=VARCHAR},
			           t1.user_id                        =#{dto.userId,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 SYS_USER_SYN -->
<delete id="deleteSysUserSynByID" parameterType="java.util.Map">
    	delete from sys_user_syn t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 SYS_USER_SYN -->
<update id="deleteSysUserSynByPrimaryKey" parameterType="java.util.Map">
	     update sys_user_syn t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>