<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.modules.platform.systemplate.dao.SysTemplateDao">
<resultMap id="SysTemplateDTO" type="com.fintech.modules.platform.systemplate.dto.SysTemplateDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="appId" column="APP_ID" jdbcType="VARCHAR" />
				<result property="templateNo" column="TEMPLATE_NO" jdbcType="VARCHAR" />
				<result property="templateName" column="TEMPLATE_NAME" jdbcType="VARCHAR" />
				<result property="templateType" column="TEMPLATE_TYPE" jdbcType="VARCHAR" />
				<result property="templateContent" column="TEMPLATE_CONTENT" jdbcType="BLOB" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="version" column="VERSION" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 SYS_TEMPLATE -->	
<select id="searchSysTemplateByPaging" parameterType="java.util.Map" resultMap="SysTemplateDTO">
    	 		select 
						t1.id                             ,
						t1.app_id                         ,
						t1.template_no                    ,
						t1.template_name                  ,
						t1.template_type                  ,
						t1.validate_state                 ,
						t1.version                        
					
				from sys_template 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.appId != null and dto.appId != ''">
						and t1.APP_ID like concat('%',#{dto.appId},'%')
    			</if>
    			<if test="dto.templateNo != null and dto.templateNo != ''">
						and t1.TEMPLATE_NO like concat('%',#{dto.templateNo},'%')
    			</if>
    			<if test="dto.templateName != null and dto.templateName != ''">
						and t1.TEMPLATE_NAME like concat('%',#{dto.templateName},'%')
    			</if>
    			<if test="dto.templateType != null and dto.templateType != ''">
						and t1.TEMPLATE_TYPE =#{dto.templateType}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.version != null and dto.version != ''">
						and t1.VERSION =#{dto.version}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 SYS_TEMPLATE  -->
<select id="searchSysTemplate" parameterType="java.util.Map" resultMap="SysTemplateDTO">
    	     select 
						t1.id                             ,
						t1.app_id                         ,
						t1.template_no                    ,
						t1.template_name                  ,
						t1.template_type                  ,
						t1.template_content               ,
						t1.validate_state                 ,
						t1.version                        
				from sys_template 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.appId != null and dto.appId != ''">
						and t1.APP_ID = #{dto.appId}
    			</if>
    			<if test="dto.templateNo != null and dto.templateNo != ''">
						and t1.TEMPLATE_NO = #{dto.templateNo}
    			</if>
    			<if test="dto.templateName != null and dto.templateName != ''">
						and t1.TEMPLATE_NAME = #{dto.templateName}
    			</if>
    			<if test="dto.templateType != null and dto.templateType != ''">
						and t1.TEMPLATE_TYPE = #{dto.templateType}
    			</if>
    			<if test="dto.templateContent != null and dto.templateContent != ''">
						and t1.TEMPLATE_CONTENT = #{dto.templateContent}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.version != null and dto.version != ''">
						and t1.VERSION = #{dto.version}
    			</if>
</select>
  
<!-- 主键查询对象  SYS_TEMPLATE -->
<select id="findSysTemplateByPrimaryKey" parameterType="java.util.Map" resultMap="SysTemplateDTO">
   	 		select 
					t1.id                             ,
					t1.app_id                         ,
					t1.template_no                    ,
					t1.template_name                  ,
					t1.template_type                  ,
					t1.template_content               ,
					t1.validate_state                 ,
					t1.version                        
			from sys_template 		t1
			where 
				t1.id = #{id}
</select>

<!-- 主键查询对象  SYS_TEMPLATE 为了更新templatecontent字段，需要锁定该行数据,慎用 -->
<select id="findSysTemplateByPrimaryKeyForUpdate" parameterType="java.util.Map" resultMap="SysTemplateDTO">
   	 		select 
					t1.id                             ,
					t1.app_id                         ,
					t1.template_no                    ,
					t1.template_name                  ,
					t1.template_type                  ,
					t1.template_content               ,
					t1.validate_state                 ,
					t1.version                        
			from sys_template 		t1
			where 
				t1.id = #{id} for update 
</select>

  
<!-- 新增对象 SYS_TEMPLATE -->
<insert id="insertSysTemplate" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
<!-- 				select seq_SYS_TEMPLATE.nextval as id from dual -->
				SELECT auto_increment FROM information_schema.TABLES WHERE  TABLE_NAME='sys_template'
	</selectKey>
			insert into sys_template
			(   		
					id                             ,
					app_id                         ,
					template_no                    ,
					template_name                  ,
					template_type                  ,
					template_content               ,
					validate_state                 ,
					version                        
			)
			values(#{dto.id}
					,#{dto.appId,jdbcType=VARCHAR}
					,#{dto.templateNo,jdbcType=VARCHAR}
					,#{dto.templateName,jdbcType=VARCHAR}
					,#{dto.templateType,jdbcType=VARCHAR}
					,#{dto.templateContent,typeHandler=org.apache.ibatis.type.BlobTypeHandler}
					,'1'
					,#{dto.version,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 SYS_TEMPLATE -->
<update id="updateSysTemplate" parameterType="java.util.Map">
	     update sys_template t1
	           set 
			           t1.app_id                         =#{dto.appId,jdbcType=VARCHAR},
			           t1.template_no                    =#{dto.templateNo,jdbcType=VARCHAR},
			           t1.template_name                  =#{dto.templateName,jdbcType=VARCHAR},
			           t1.template_type                  =#{dto.templateType,jdbcType=VARCHAR},
			           t1.validate_state                 ='1',
			           t1.version                        =#{dto.version,jdbcType=DECIMAL},
			           t1.template_content               =#{dto.templateContent}
	     where t1.id = #{dto.id}
</update>
   
<update id="updateSysTemplateContent" parameterType="com.fintech.modules.platform.systemplate.dto.SysTemplateDTO">
	     update sys_template t1
          		set  t1.template_content =#{templateContent}
	     where t1.id = #{id}
</update>
<!-- 主键删除 SYS_TEMPLATE -->
<delete id="deleteSysTemplateByID" parameterType="java.util.Map">
    	delete t1 from sys_template t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 SYS_TEMPLATE -->
<update id="deleteSysTemplateByPrimaryKey" parameterType="java.util.Map">
	     update sys_template t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>